name: Build and Push Orpheusmorebetter Docker Images

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/main.yml"
      - "Dockerfile"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        show-progress: false

    # Login to GitHub Container Registry
    - name: Login to ghcr.io
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}

    # Login to Docker Hub
    - name: Login to DockerHub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ github.actor }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Prepare Environment Outputs
      shell: sh
      run: |
        set -eu

        export VERSION=$(curl --silent "https://raw.githubusercontent.com/walkrflocka/orpheusmorebetter/master/_version.py" | grep -Po '(?<=__version__ = ")[^"]+')
        
        echo "VERSION=${VERSION}" >> $GITHUB_ENV

    - name: Build and publish Docker image from Dockerfile
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        provenance: true
        sbom: true
        tags: |
          starkayc/orpheusmorebetter:${{ env.VERSION }}
          ghcr.io/starkayc/orpheusmorebetter:${{ env.VERSION }}
          starkayc/orpheusmorebetter:latest
          ghcr.io/starkayc/orpheusmorebetter:latest
        push: true